SECRET_KEY=django-insecure-some-secret-key-goes-here
DJANGO_SETTINGS_MODULE=config.settings.dev
DATABASE_URL=sqlite:///db.sqlite3
ALLOWED_HOSTS=*
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
