# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3
db.sqlite3-journal

# Environments
.env
.venv
venv/
ENV/

# Media and Static
media/
staticfiles/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/
tests/.pytest_cache/

# IDE files
.vscode/
.idea/
